* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "Roboto", sans-serif;
    font-size: 1.2em;
    background-color: #f0f0f0;
    color: #333;
}
.wrapper {
    max-width: 1024px;
    width: calc(100vw - 120px);
    margin: 0 auto;
}
.header {
    padding: 30px 0;
}
.main__wrapper {
    padding: 30px 0;
}
.item-lister {
    border: 2px solid #aaa;
    border-radius: 4px;
    padding: 16px;
}
.item-lister__title {
    margin-bottom: 5px;
}
.item-lister__form {
    margin-bottom: 10px;
}
.form__input {
    border: 2px solid #aaa;
    border-radius: 4px;
    padding: 5px;
    font-size: 1.2em;
}
.btn {
    padding: 5px 15px;
    background-color: #333;
    color: #f0f0f0;
    font-size: 1.2em;
    border: 2px solid #333;
    border-radius: 4px;
    cursor: pointer;
}
.btn:active {
    scale: 0.95;
}
.list-group {
    list-style: none;
    font-size: 1.2em;
    border: 2px solid #aaa;
    background-color: #f0f0f0;
    border-radius: 4px;
    display: none;
}
.list-group-item {
    border-bottom: 2px solid #aaa;
    border-top: none;
    padding: 15px;
    display: flex;
    justify-content: space-between;
}

.list-group-item:hover {
    background-color: #1c8d41;
    color: #f0f0f0;
}
.list-group-item:last-child {
    border-bottom: none;
}
.addition {
    background-color: crimson;
    display: flex;
    width: 20px;
    height: 22px;
    align-items: center;
    cursor: pointer;
    justify-content: center;
    border-radius: 2px;
    padding-bottom: 3px;
    color: white;
}
